@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	touch-action: manipulation;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
}

#left {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex-grow: 1;
	overflow: scroll;
}

#tutorial {
	/* background-color: red; */
	background-color: #78a158;
	padding: 30px;
	font-family: "Roboto";
}

#tutorial h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

#tutorial p {
	font-size: 30px;
}

#line {
	position: absolute;
	background-color: #44475A;
	height: 2px;
	left: 20px;
}

code, #code_area {
	background-color: #282A36;
	color: #F8F8F2;
	font-family: "JetBrains Mono", monospace;
}

code {
	padding: 2px 8px;
	color: #F8F8F2;
	border-radius: 5px;
	margin: 0 4px;
	white-space: nowrap;
}

#code_area {
	flex-grow: 1;
	position: relative;
	resize: none;
	box-sizing: border-box;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 30px;
	font-size: 34pt;
}

#canvas_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background: black;
}

#canvas_container canvas {
	max-height: 100vh;
	max-width: 50vw;
	background-color: red;
}

button {
	background-color: #2c2;
	color: white;
	font-size: 30px;
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}