@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	touch-action: manipulation;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
}

#code_area {
	font-family: "JetBrains Mono", monospace;
	height: 100vh;
	flex-grow: 1;
	background-color: #272822;
	padding: 30px;
	font-size: 34pt;
	color: #F8F8F2;
	resize: none;
	overflow: scroll;
	box-sizing: border-box;
}

#canvas_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background: black;
}

#canvas_container canvas {
	max-height: 100vh;
	max-width: 50vw;
	background-color: red;
}

button {
	background-color: #2c2;
	color: white;
	font-size: 30px;
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}